{% extends 'base.html' %}

{% block menu %}
{% include 'inclusion/query_sql_detail_menu.html' %}
{% endblock %}

{% block style %}
<style>
    #traceback{ 
        max-width: 1200px;
        margin: 30px auto;
    }
    .heading{
        margin-top: 20px;
    }
    .traceback-div{
        /*display: table;
        margin: 0 auto;*/
        color: #397300;
    }
    .traceback-code{
        font-size: 12px;
    }
    .traceback-line{
        font-size: 12px;
        font-family: monospace;
    }
    .query-div{
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .query{
        display: inline-block;
    }
    #query-info-div div{
        padding-top: 5px;
    }

    pre{
        max-width: 1200px;
    }

    /* Custom Style SQL*/
    pre code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em;

        /*Zfont-family: monospace;*/
    }

    code.hljs {
        padding: 3px 5px
    }

    .hljs {
        background: #f3f3f3;
        color: #444;
        /*color: #da0000;*/
    }

    .hljs-comment {
        color: #697070
    }

    .hljs-punctuation,.hljs-tag {
        color: #444a
    }

    .hljs-tag .hljs-attr,.hljs-tag .hljs-name {
        color: #444
    }

    .hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag {
        font-weight: 700;

        color: #000;
    }

    .hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type {
        color: #800
    }

    .hljs-section,.hljs-title {
        color: #800;
        font-weight: 700
    }

    .hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable {
        color: #ab5656
    }

    .hljs-literal {
        color: #695
    }

    .hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code {
        color: #397300
    }

    .hljs-meta {
        color: #1f7199
    }

    .hljs-meta .hljs-string {
        color: #38a
    }

    .hljs-emphasis {
        font-style: italic
    }

    .hljs-strong {
        font-weight: 700
    }
    
</style>
{% endblock %}

{% block content %}
<div id="content">
    <!-- <h1>query SQL details</h1> -->
    {% if query %}
    <div class="query-div">
        <div class="query">
            <pre><code  id="querySql" class="language-sql sql hljs">{{query.formatted_query}}</code></pre>
        </div>
        <div id="query-info-div">
            <div id="time-taken-queries-div">
                <span class="numeric">{{ query.time_taken }}<span class="unit">ms</span></span>
            </div>
            <div id="num-joins-div">
                <span class="numeric">{{ query.num_joins }}</span> joins
            </div>
        </div>
    </div>
    
    <div id="traceback">
        <div class="heading">
            <div class="inner-heading">
                Traceback
            </div>
        </div>
        <div class="description">
            The following is a Python stack trace that leads to the execution of the above SQL query.
        </div>
        <div class="traceback-div">
            {% for line in query.formatted_traceback_list %}
            <!-- <p>{{line}}</p> -->
                <div class="traceback-line">
                    {{ line }}
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- <hr/> -->
    {% else %}
    <h2 class="txt-center">No queries found in the application</h2>
    {% endif %}

    <script>

        function formatAndHighlight(elementId) {
            const codeElement = document.getElementById(elementId);
            
            hljs.highlightElement(codeElement);
        }
        // Форматируем и подсвечиваем все JSON-блоки
        formatAndHighlight('querySql');
        formatAndHighlight('queryExample');
        

        /*hljs.highlightAll();*/        
    </script>
</div>
{% endblock %}
