{% extends 'base.html' %}

{% block menu %}
{% include 'inclusion/root_menu.html' %}
{% endblock %}

{% block filter %}
{% include 'inclusion/root_filter.html' %}
{% endblock %}

{% block content %}
<div id="content">
    {% if request_info %}
    {% for request in request_info %}
        <!-- <a class="item" onclick="window.open('https://example.com')" > -->
        <a class="item" href="/profiler/pages/request/{{request.id}}" target="_blank">
            <div class="start_time">{{ request.start_time.strftime('%d.%m.%Y, %H:%M:%S') }}.{{ '%03d' % (request.start_time.microsecond // 1000) }} </div>
            <div class="method"><span>{{request.response_info.status_code}}</span> {{request.method}}</div>
            <div class="path"> {{request.path}} </div>
            {% if request.time_taken %}
            <div id="time-taken-div"> <span class="numeric">{{ '{:.0f}'.format(request.time_taken) }}</span> ms overall </div>
            {% else %}
            <div id="time-taken-div"> <span class="numeric">{{request.time_taken }}</span> ms overall </div>
            {% endif %}
            {% if request.time_spent_queries %}
            <div id="time-taken-queries-div"> <span class="numeric">{{ '{:.0f}'.format(request.time_spent_queries) }}</span> ms on queries </div>
            {% else %}
            <div id="time-taken-queries-div"> <span class="numeric">0</span> ms on queries </div>
            {% endif %}
            <div id="num-queries-div"> <span class="numeric">{{request.total_queries}}</span> queries</div>
            <!-- <div><span class="numeric">ID: {{request.id}}</span></div> -->
            <!-- <div><button onclick="window.open('https://example.com')">Open new page</button></div> -->
        </a>
    {% endfor %}
    {% else %}
    <h2 class="txt-center">No requests in application</h2>
    {% endif %}
</div>

{% with pagination=pagination %}
    {% include 'inclusion/pagination.html' %}
{% endwith %}

{% endblock %}

