<div class="menu">

    <div class="menu-item selectable-menu-item menu-item-selected">
        <a href="/profiler/requests/">
            <div class="menu-item-outer">
                <div class="menu-item-inner">Details</div>
            </div>
        </a>
    </div>
    <div class="menu-item selectable-menu-item ">
        <a href="/api/silk/profiling/">
            <div class="menu-item-outer">
                <div class="menu-item-inner">SQL</div>
            </div>
        </a>
    </div>
    <!-- <div class="menu-item selectable-menu-item ">
        <a href="/api/silk/cleardb/">
            <div class="menu-item-outer">
                <div class="menu-item-inner">Clear DB</div>
            </div>
        </a>
    </div> -->
</div>