<div class="menu">

    <div class="menu-item selectable-menu-item menu-item-selected">
        <a href="/profiler/pages/requests">
            <div class="menu-item-outer">
                <div class="menu-item-inner">Requests</div>
            </div>
        </a>
    </div>
    <!-- <div class="menu-item selectable-menu-item ">
        <a href="/api/profiling/">
            <div class="menu-item-outer">
                <div class="menu-item-inner">Profiling</div>
            </div>
        </a>
    </div> -->
    <!--  -->
    <div class="menu-item selectable-menu-item ">
        <a href="/profiler/pages/page_clear_db/">
            <div class="menu-item-outer">
                <div class="menu-item-inner">Clear DB</div>
            </div>
        </a>
    </div>
</div>